<div class="columns is-multiline" *ngIf="comic">
  <div class="column is-four-fifths is-full-mobile">
    <h1 class=" title is-1 text-center">{{comic.title}}
      <a *ngIf="!isInTheCart(comic.id)" (click)="addToCar(comic)" class="button is-danger is-rounded button-float">
        <span class="icon">
          <fa-icon icon="cart-plus" size="lg"></fa-icon>
        </span>
      </a>
    </h1>
    <div class="columns is-multiline">
      <div class="column is-full">
        <div class="tabs is-centered">
          <ul *ngIf="tabs">
            <li *ngFor="let tab of tabs | keyvalue" [ngClass]="{'is-active': tab.value}" (click)="changeTab(tab.key)">
              <a>{{tab.key}}</a></li>
          </ul>
        </div>
      </div>
      <div class="column is-full" [innerHTML]="comic.description" *ngIf="getCurrentTab('About')">
      </div>
      <div class="column is-full" *ngIf="(!comic || !comic.description) && getCurrentTab('About')">
        <p class="subtitle is-6 text-center">No results found.</p>
      </div>
      <div class="column is-full">
        <div *ngIf="characters && characters.length > 0 && getCurrentTab('Characters')">
          <div class="columns is-multiline">
            <div class="column is-one-fifth" *ngFor="let character of characters">
              <div class="card">
                <div class="card-image">
                  <figure class="image is-4by3">
                    <img [src]="character.thumbnail.path + '.' + character.thumbnail.extension" [alt]="character.name">
                  </figure>
                </div>
                <div class="card-content">
                  <h6 class="title is-6 text-ellipsis">{{character.name}}</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-full" *ngIf="(!characters || characters.length == 0) && getCurrentTab('Characters')">
        <p class="subtitle is-6 text-center">No results found.</p>
      </div>
      <div class="column is-full" *ngIf="creators && creators.length > 0 && getCurrentTab('Creators')">
        <div class="columns is-multiline">
          <div class="column is-one-fifth" *ngFor="let creator of creators">
            <div class="card">
              <div class="card-image">
                <figure class="image is-4by3">
                  <img [src]="creator.thumbnail.path + '.' + creator.thumbnail.extension" [alt]="creator.fullName">
                </figure>
              </div>
              <div class="card-content">
                <h6 class="title is-6 text-ellipsis">{{creator.fullName}}</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-full" *ngIf="(!creators || creators.length == 0) && getCurrentTab('Creators')">
        <p class="subtitle is-6 text-center">No results found.</p>
      </div>
      <div class="column is-full" *ngIf="stories && stories.length > 0 && getCurrentTab('Stories')">
        <div class="columns is-multiline">
          <div class="column is-one-fifth">
            <ol type="1">
              <li *ngFor="let story of stories">{{story.title}}</li>
            </ol>
          </div>
        </div>
      </div>
      <div class="column is-full" *ngIf="(!stories || stories.length == 0) && getCurrentTab('Stories')">
        <p class="subtitle is-6 text-center">No results found.</p>
      </div>
    </div>
  </div>
  <div class="column is-full-mobile">
    <figure class="image is-1by2">
      <img [src]="comic.thumbnail.path + '.' + comic.thumbnail.extension" [alt]="comic.name">
    </figure>
  </div>
</div>