<div class="columns">
  <div class="column is-4 is-offset-8">
    <div class="control is-loading" [ngClass]="{'is-loading': isLoading}">
      <input class="input" (keyup)="search()" type="text" placeholder="Search..." [(ngModel)]="searchText" />
    </div>
  </div>
</div>
<div class="columns is-multiline" [ngClass]="{'lds-hourglass': isPreLoading}">
  <div class="column is-one-fifth" *ngFor="let comic of comics">
    <div class="card" [ngClass]="{'rare-comic-marvel': comic.isRare}">
      <div class="card-image">
        <figure class="image is-4by3">
          <img [src]="comic.thumbnail.path + '.' + comic.thumbnail.extension" alt="Placeholder image" />
        </figure>
      </div>
      <div class="card-content">
        <p class="title is-6 text-ellipsis">
          {{ comic.title }}
        </p>
      </div>
      <footer class="card-footer">
        <a [routerLink]="['comics/details', comic.id]" class="card-footer-item">Details</a>
        <a class="card-footer-item" (click)="addToCar(comic)" *ngIf="!isInTheCart(comic.id)">Add to cart</a>
      </footer>
    </div>
  </div>
</div>
<div class="buttons is-centered" *ngIf="comics && comics.length > 0">
  <button class="button" [ngClass]="{'is-loading': isLoading}" (click)="showMore()">Show more</button>
</div>