.navbar-marvel {
  background-color: #ec1d24;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 16px;
  text-transform: uppercase;
  color: #ffffff;
  /* background-image: linear-gradient(to right, #ec1d24 0%, #22262a); */
  -webkit-box-shadow: -6px 6px 6px -6px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: -6px 6px 6px -6px rgba(0, 0, 0, 0.55);
  box-shadow: 0px 0px 7px 1px rgb(34, 38, 42, 0.55);
}
.navbar-item,
.navbar-link {
  color: #ffffff;
}
.navbar-marvel .navbar-link.is-active,
.navbar-marvel .navbar-link:hover,
.navbar-marvel a.navbar-item.is-active,
.navbar-marvel a.navbar-item:hover {
  background-color: #fafafa;
  color: #22262a;
}

@media (min-width: 1025px) {
  .navbar-marvel {
    height: 75px;
  }
}

.navbar-menu {
  background-color: #ec1d24;
}
