<div class="columns is-multiline">
  <div class="column is-full">
    <h6 class="title is-4">My Cart</h6>
  </div>
  <div class="column is-three-quarters">
    <div class="columns border-bottom-marvel">
      <div class="column is-two-thirds">
        <p class="title is-6">Products</p>
      </div>
      <div class="column">
        <p class="title is-6">Quantity</p>
      </div>
      <div class="column">
        <p class="title is-6">Price</p>
      </div>
      <div class="column">
      </div>
    </div>
    <hr>
    <div class="columns border-bottom-marvel" style="border-bottom-color: white; margin: 0;"
      *ngFor="let product of products | keyvalue">
      <div class="column is-two-thirds">{{product.value.comic.title}}</div>
      <div class="column"><input class="input" type="text" [value]="product.value.count" (change)="changeQuantity(product.key, $event.target.value)"></div>
      <div class="column">{{product.value.comic.prices[0].price * product.value.count}}</div>
      <div class="column">
        <a class="button" (click)="remove(product.key)">
          <span class="icon">
            <fa-icon icon="trash" size="lg"></fa-icon>
          </span>
        </a>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="columns is-multiline">
      <div class="column is-full border-bottom-marvel">
        <h6 class="title is-6">Resume</h6>
      </div>
      <div class="column is-full">
        <input class="input" type="text" placeholder="Discount Coupon" [(ngModel)]="discountCoupon">
        <a class="button is-small is-fullwidth" (click)="getDiscount()">Add</a>
      </div>
      <div class="column is-half" *ngIf="discountPercentage">Discount</div>
      <div class="column" *ngIf="discountPercentage">{{discountPercentage}}%</div>
      <div class="column is-half">Total</div>
      <div class="column">${{total}}</div>
      <div class="column is-full">
        <button class="button is-fullwidth" (click)="closeOrder()">
          Close Order
        </button>
      </div>
    </div>
  </div>
</div>